<div class="search_admin">
    <form action="">
        <input type="search" name="q" id="searchInput" class="ip_search_admin" placeholder="search">
        <button type="submit" class="btn_search_admin"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
<table class="table table_admin">
    <thead>
        <tr>
            <th scope="col">
                <input type="checkbox">
            </th>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">author</th>
            <th scope="col">like</th>
            
            <th scope="col">
               
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each news}}
        <tr>
            <th scope="row">
                <input type="checkbox">
            </th>
            <td class="content_admin">{{this.nameNews}}</td>
            <td class="content_admin">{{this.titleNews}}</td>
            <td class="content_admin">{{this.authorNews}}</td>
            <td class="content_admin">{{this.likeNews}}</td>
            <td class="content_admin">
                <button class="btn_ud_admin" data-id="{{this._id}}" data-toggle="modal"
                    data-target="#restoreNews{{this._id}}">
                    <i class="fa-solid fa-pencil"></i>
                </button>
                <button class="btn_ud_admin" data-id="{{this._id}}" data-toggle="modal"
                    data-target="#deletenews{{this._id}}">
                    <i class="fa-solid fa-trash-can-arrow-up"></i>
                </button>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="7" class="content_admin">
                Chưa có bản tin nào trong thùng rác ...
            </td>
        </tr>
        {{/each}}
         {{#each news}}
        <div class="modal fade" id="restoreNews{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Restore News: {{this.username}} ???</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="news/{{this._id}}/restore?_method=PATCH">
                        <div class="btn_delete float-right">
                            <button type="submit" class="btn btn-danger">Restore</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
        {{/each}} 
         {{#each news}}
        <div class="modal fade" id="deletenews{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete news ???</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="news/{{this._id}}?_method=DELETE">
                        <div class="btn_delete float-right">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
        {{/each}}

    </tbody>
</table>