<div class="slide_1st">
  <div class="container">
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{#each combined}}
      {{#each this.slides}}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{@index}}" {{#unless @index}}class="active"{{/unless}}></li>
    {{/each}}
    {{/each}}
  </ol>
  <div class="carousel-inner">
    {{#each combined}}
      {{#each this.slides}}
        <div class="slide_customer carousel-item {{#unless @index}}active{{/unless}}">
          <img class="slider_01 d-block w-100" src="{{this.imageSlide}}" alt="Slide {{@index}}">
        </div>
      {{/each}}
    {{/each}}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    {{!-- <div id="slidesHead" class="carousel slide" data-ride="carousel">

      <ul class="carousel-indicators">
        {{#each combined}}
          {{#each this.slides}}
        <li data-target="#slidesHead" data-slide-to="{{@index}}" class="active"></li>
        {{/each}}
        {{/each}}
      </ul>
      <div class="carousel-inner carousel_customer">
        {{#each combined}}
          {{#each this.slides}}
            <div class="carousel-item active">
            <img class="slider_01" src="{{this.imageSlide}}" alt="slide_food">
            <div class="carousel-caption">
            <h3 class="tx_02">{{this.nameSlide}}</h3>
            <p>We had such a great time in LA!</p>
          </div>
        </div>
          {{/each}}
        {{/each}}
      </div>
      <a class="carousel-control-prev" href="#slidesHead" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#slidesHead" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div> --}}
  </div>
</div>