<div class="search_admin">
    <form action="">
        <input type="search" name="q" id="searchInput" class="ip_search_admin" placeholder="search">
        <button type="submit" class="btn_search_admin"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>


<button class="add_all_admin float-right m-2 mr-4" data-toggle="modal" data-target="#foodsForm">
    <i class="fa-solid fa-plus"></i> Add Food
</button>
<div class="modal fade" id="foodsForm" tabindex="-1" role="dialog" aria-labelledby="foodsFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="foodsFormLabel">ADD FOOD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="foods/" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name food</label>
                        <input type="text" name="nameFood" class="form-control" placeholder="Enter your food">
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="titleFood" class="form-control" placeholder="Enter title food">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" name="price" class="form-control" placeholder="Enter price">
                    </div>
                     <div class="form-group">
                        <label>Category</label>
                        <input type="text" name="cate" class="form-control" placeholder="Enter category">
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" name="imageFood">
                    </div>
                    <br class="form-group">
                    <label for="exampleInput">Description</label><br>
                    <textarea name="description" id="" cols="53" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success float-right m-2">Add food</button>
            </form>
        </div>
    </div>
</div>


<form action="foods/foods-handle-form-action" method="POST">

    <div class="select_all_delete ml-4 mt-2 mb-2 align-items-center">
        <input type="checkbox" id="checkbox-all"> Chọn tất cả
        <select name="action">
            <option value="">-- Chức năng</option>
            <option value="delete">Xóa</option>
        </select>
        <button class="btn btn-success btn-submitAllChecked disabled">Thực hiện</button>
    </div>
    <table class="table table_admin">
        <thead>
            <tr>
                <th scope="col">

                </th>
                 <th scope="col">STT</th>
                <th scope="col">Name food</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Rate</th>
                <th scope="col"></th>
               
            </tr>
        </thead>
        <tbody>
            {{#each foods}}
            <tr>
                <th scope="row">
                    <input type="checkbox" name="collectionIds" value="{{this._id}}">
                </th>
                <td class="content_admin">{{sum @index 1}}</td>
                <td class="content_admin">{{this.nameFood}}</td>
                <td class="content_admin">{{this.titleFood}}</td>
                <td class="content_admin">{{this.price}}</td>
                <td class="content_admin">{{this.rate}}</td>
                <td class="content_admin">
                    <button class="btn_ud_admin" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#updateFoods{{this._id}}"  type="button">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button class="btn_ud_admin" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#deleteFoods{{this._id}}"  type="button">
                        <i class="fa-solid fa-trash-can-arrow-up"></i>
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<ul class="pagi_cs pagination pagination-sm justify-content-center mt-3">
    {{#if totalPages}}
        <li class="page_01 page-item {{#if (eq currentPage 1)}}disabled{{/if}}">
            <a class="page-link" href="{{baseUrl}}?page={{prevPage}}"><i class="fa-solid fa-angles-left"></i></a>
        </li>
        {{#range 1 totalPages}}
            <li class="page_01 page-item {{#if (eq this currentPage)}}active{{/if}}">
                <a class="page-link" href="{{baseUrl}}?page={{this}}">{{this}}</a>
            </li>
        {{/range}}
        <li class="page_01 page-item {{#if (eq currentPage totalPages)}}disabled{{/if}}">
            <a class="page-link" href="{{baseUrl}}?page={{nextPage}}"><i class="fa-solid fa-angles-right"></i></a>
        </li>
    {{/if}}
</ul>


{{#each foods}}
<div class="modal fade" id="updateFoods{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="foodsFormLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="foodsFormLabel">EDIT FOOD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="foods/{{this._id}}?_method=PUT" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name food</label>
                        <input type="text" value="{{this.nameFood}}" name="NewnameFood" class="form-control"
                            placeholder="Enter your food">
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" value="{{this.titleFood}}" name="NewtitleFood" class="form-control"
                            placeholder="Enter title food">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" value="{{this.price}}" name="Newprice" class="form-control"
                            placeholder="Enter price">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <input type="text" name="Newcate" value="{{this.cate}}" class="form-control" placeholder="Enter category">
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" name="NewimageFood">
                    </div>
                    <br class="form-group">
                    <label for="exampleInput">Description</label><br>
                    <textarea name="Newdescription" value="description" id="" cols="53" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success float-right m-2">Update food</button>
            </form>
        </div>
    </div>
</div>
{{/each}}
{{#each foods}}
<div class="modal fade" id="deleteFoods{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete foods ???</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="foods/{{this._id}}?_method=DELETE">
                    <div class="btn_delete float-right">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}